<h1>ActivityLogs#index</h1>

<% if @response.blank? %>
  <p>No hay elementos a mostrar</p>
<% else %>
  <table>
    <thead>
      <tr>
        <td>Bebe</td>
        <td>Asistente</td>
        <td>Actividad</td>
        <td>Inicio</td>
        <td>Estatus</td>
        <td>Duración</td>
      </tr>
    </thead>
    <tbody>
      <% @response.each do |el| %>
      <tr>
        <td><%= el['baby_name'] %></td>
        <td><%= el['teacher'] %></td>
        <td><%= el['activity'] %></td>
        <td><%= el['start_time'] %></td>
        <td><%= getStatus(el) %></td>
        <td><%= getDuration(el) %></td>
        <td></td>
      </tr>
      <% end %>
    </tbody>
  </table>
<% end %>


